@CHARSET "UTF-8";

div
{
font-family:courier;  
}

div.clearfix {
	clear: both;
}

#wrapper{
	width: 940px; 
	margin: 0 auto	
}

li {
	cursor: pointer;	
}

li:hover {
	color: #9966CC;
	transition: all 1s ease-in-out ;
}


body {
	Background-color: #99FFCC;	
}

header {
	width: 100%;
	Height: 75px;
	background-color: #99FFCC;
	color: #cc9900;
	padding-bottom:25px;
}

ul.header_nav{
	padding-top: 10px;
	
}

ul.header_nav li{
	display: inline;
	margin-left: 70px;
}

div.left_nav {
	width: 20%;
	float: left;
	height: 100%;
	background-color: #99FFCC;
	color: #cc9900;
}

ul.left_nav_list {
	list-style-type: none;
}

ul.left_nav_list li{
	margin-bottom: 50px;
}

div.content {
	height: 400px;
	float: left;
	width: 80%;	
	background-color: #99FFCC;
	color: #cc9900;
	overflow-y:scroll;
}

footer {
	width: 100%;
	Height: 75px;
	background-color: #99FFCC;
	color: #cc9900;
	padding-top:25px;	
}

ul.footer_nav{
	padding-top: 10px;
}
	
ul.footer_nav li{
	display: inline;
	margin-left: 70px;